@media(max-width:1200px){
 
/*----------------section-catalog------------------- */
   .section-catalog{
      .block-saidbar {
      //display: none;
      }
      .block-btn{
         display: block;
      }
      .ul-filters{
         display: none;
      }
         .block-catalog {
  
      .block-btn{
        
      }
      .catalog-item{        
         grid-template-columns: repeat(2,auto);         
         }
      }
   }
   /*-------------------modal--------------------------*/
   .modal-form_consult{
      .modal-container{
         min-height: 450px;
         min-width: 600px;
      }
   }
   
  
}
@media(min-width:1200px){
    /*----------------------page-product-------------------------------*/
   .section-product{
      .block-product-main{
         .product-slider{
            margin-right: 24px;
         }
         .block-product-item{
            order:0;
         }
         .parameters{
            
             .block-parameters {
               grid-template-columns: 70% 30%;
               .parametr-item {
               
               }
               .parametr-value {
               
               }
            }
         }
      }
      
   }
}