@media(max-width:1200px){
 
/*----------------section-catalog------------------- */
   .section-catalog{
      .block-saidbar {
      //display: none;
      }
      .block-btn{
         display: block;
      }
      .ul-filters{
         display: none;
      }
         .block-catalog {
  
      .block-btn{
        
      }
      .catalog-item{        
         grid-template-columns: repeat(2,auto);         
         }
      }
   }
   /*-------------------modal--------------------------*/
   .modal-form_consult{
      .modal-container{
         min-height: 450px;
         min-width: 600px;
      }
   }
     /*--------page-order--------------------------------------*/
 
     
  
  
}
@media(min-width:1200px){
    /*----------------------page-product-------------------------------*/
   .section-product{
      .block-product-main{
         #service{
               background:none;
               border: none;
            }
         .product-slider{
            margin-right: 24px;
         }
         .block-product-item{
            order:0;
         }
         .parameters{
            
             .block-parameters {
               grid-template-columns: 70% 30%;
               .parametr-item {
               
               }
               .parametr-value {
               
               }
            }
         }
      }
      
   }
   .section-order{
    .order-registration{
     display: flex;
     flex-direction: column;
     background:transparent;
       .order-info{
          .order-title{
             display: flex;
             flex-direction: column;
          }
          .btn-order-registr{
            width: 100%;
          }
       }
    }
 }

 /*---------------------------page-order----------------------------*/
/*---------------------------section-order---------------------*/
   .section-order{
      .order-detalis {
         .block-product{
            grid-template-columns: 30% 35% 35%;
            width: 100%;
            padding: 24px;
            grid-template-areas:"image block-middle block-product-bottom";
            min-height: fit-content;
               
            .image{
               grid-area: image;
               display: flex;
               justify-content: center;
               align-items: center;
               img{
                
               }
            }
            .block-middle{
              
            }
            .block-product_bottom{
               flex-direction: column;
               justify-content: space-around;
               align-items: flex-end;
               padding-right: 20px;
               .price{
                  padding: 0;
                  margin: 0;
                  width: fit-content;
               }
               .block-number{
                 margin: 0;
            }
         }
      }
   }
}
    
}