@media(min-width:320px){
   /*---------------------   page-product------------------------------*/
  /*---------------section-product----------------------------------*/
      .section-product{
         padding: 0 16px;
         .block-product-main{
            margin-bottom: 25px;
            #service{
               background: #FFFFFF;
               border: 2px solid #E8E8E8;
               padding: 16px;
               margin: 16px 0;
            }
            .product-slider{
               border: 2px solid #E8E8E8;
               background:#FFFFFF;
               display: flex;
               flex-direction: column;
               margin-bottom: 16px;
               padding: 5px;
               img{
                  width: 100%;
               }
               .product-img-min{
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  >div{
                     border: 1px solid #E8E8E8;
                     border-radius: 4px;
                     max-width: 70px;
                     max-height: 70px;
                     img{
                        opacity: 0.7;
                     }
                  }
                  .active{
                        border: 1px solid #022ECC;
                        img{
                           opacity: 1;
                        }
                  }
            }
            .product-img-max{
               img{
                  max-height: 200px;
               }
            }
         }
            .block-product-item{
            order:1;  
            }
            
            .parameters {
               order:1;
               font-family: 'Roboto',sans-serif;
               line-height: 2.5;
               letter-spacing: 0em;
               text-align: left;
               color:#000000;
               h2{
                  font-size: 24px;
                  font-style: normal;
                  font-weight: 700;
                  text-align: left;
               }
               .block-parameters {
               display: grid;
               grid-template-columns: 50% 50%;
               .parametr-item {
                  font-size: 16px;
                  font-weight: 400;
               }
               .parametr-value {
                  font-size: 16px;
                  font-weight: 700;
                  color:#222222;
                  }
               }
            }
         }
      }
      /*--------------------------section-simsilar-product------------------*/
      .section-similar-product{
         .block-similar{
            h2{
               font-size: 24px;
            }
            .block-arrow{
            display: none;
         }
         }
         
      }
/*---------------------------page-order----------------------------*/
/*---------------------------section-order---------------------*/
   .section-order{
      .order-detalis {
         border: 1px solid #E8E8E8;
         margin: 0 12px;
         .block-product{
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-areas:
               "image block-middle"
               "block-product-bottom block-product-bottom";
               min-height: fit-content;
               width: 100%;
            .close-block{
               position: absolute;
               top: 10px;
               right: 15px;
             
               color:#F94547;
               &::after,&::before{
                  position: absolute;
                  // top: 0;
                  // right: 0;
                //  color:#F94547;
                  width: 10px;
                  height: 2px;
                  background-color:#F94547;
                  content:'';
               }
               &::before{
                  transform: rotate(45deg);
               }
               &::after{
                  transform: rotate(-45deg);
               }
            }  
            .image{
               grid-area: image;
               display: flex;
               justify-content: center;
               align-items: center;
               img{
                  border: 1px solid #E8E8E8;
                  height: 100px;
               }
            }
            .block-middle{
               grid-area: block-middle;
               padding-left: 15px;
            }
            .block-product_bottom{
               grid-area: block-product-bottom;
               flex-direction: row-reverse;
               .price{
                  width: 50%;
                  padding-left: 15px;
                  span{
                     font-size: 24px;
                  }
               }
               .block-number{
                  margin: 0 auto; 
                  .number-minus, .number-plus{
                     cursor: pointer;
                  }
               }
            }
         }
      }
   }
    
}
